@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    /* outline: 2px dashed red; */
}

input::-webkit-inner-spin-button{
    display: none;
}